.Note
{
    font-size: 18px;
    font-style: italic;
    text-align: justify;
}   

#displayDiv
{
    color:white;
    font-size: 18px;
    font-weight:bold;
    width:100px;
    height:40px;
    text-align:center;
    margin:20px;
}